@import 'base.css';

#app {
  display: flex;
  min-height: 100vh;
  min-height: 100svh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.page {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
